.spotify {
    display: flex;
    height: 100vh;
    flex-direction: column;

    .sem-musicas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    header {
        display: flex;
        background-color: #1ac255;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .corpo-site {
        display: flex;
        flex-direction: column;
        background: #121212;
        
        flex: 1;
        align-items: center;

        .cadastroMusica {
            margin-top: 40px;
            align-items: center;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            background-color: #EFEFEF;
            width: 782px;
            padding: 10px 0px;
            

            .titulo {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: center;
                justify-content: space-between;
                height: 45px;
                h1 {
                    font-size: 23px;
                }
                img {
                    display: flex;
                    justify-self: flex-end;
                    position: relative;
                    left: -25px;

                    transition: .3s;
                }

                label {
                    display: inline-block;
                    cursor: pointer;
                  }
                  
                  img {
                    transition: transform 0.3s ease;
                  }
                  
                  #checkbox:checked ~ label img {
                    transform: rotate(180deg);
                  }
            }

            .formulario {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 10px;
                width: 80%;
                align-items: center;

                > input {
                    width: 97%;
                    margin: 10px;
                    border: none;
                    border-radius: 6px;
                    background-color: #969696;
                    padding: 10px;
                    height: 35px;
                    font-size: 15px;
                    font-weight: bold;
                }

                > input::placeholder {
                    color: #313131;
                    font-size: 15px;
                }

                input:focus {
                    outline: none;
                }

                .campo-inputs {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    justify-content: space-between;
                    width: 100%;

                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 10px;
                        justify-content: center;
                        width: 50%;
                        gap: 10px;
                        > div {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            
                            input {
                                border: none;
                                border-radius: 6px;
                                background-color: #969696;
                                padding: 10px;
                                font-weight: bold;
                                width: 293px;
                                height: 25px;
                                height: 35px;
                            }
    
                            input::placeholder {
                                color: #313131;
                                font-size: 14px;
                            }                    
                        } 
                    }
                }

                .salvar {
                    margin-top: 20px;
                    padding: 10px 15px;
                    border-radius: 11px;
                    background-color: #1cc256;
                    cursor: pointer;
                    transition: 0.2s;
                    color: white;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
                }

                .salvar:hover {
                        transform: translateY(-3px);
                        background-color: #1ED760;
                        transition: 0.2s;
                        font-weight: bold;
                        font-size: 16px;
                }
            }
        }

        .pesquisa {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 782px;
            margin-top: 50px;
            justify-content: center;
            
            border-radius: 6px;
            background-color: #969696;
            
            padding: 10px;

            .favoritoss {
                transition: 0.4s;
                cursor: pointer;
            }

            .favoritoss:hover {
                transition: 0.4s;
                width: 35px;
            }

            .salvar {
                padding: 15px;
                border-radius: 11px;
                background-color: #1cc256;
                cursor: pointer;
                transition: 0.2s;
                color: white;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            }
            
            .salvar:hover {
                transform: translateY(-3px);
                background-color: #1ED760;
                transition: 0.2s;
                font-weight: bold;
                font-size: 16px;
            }

            input {
                margin: 10px;
                border: none;
                background-color: #969696;
                width: 100%;
                font-weight: bold;
                font-size: 17px;
            }

            input::placeholder {
                color: #313131;
            }

            input:focus {
                outline: none;
            }

            > img {
                width: 30px;
            }
        }

        .tabela-musicas {
            display: flex;
            margin-top: 40px;
            padding: 50px 50px 20px 50px;
            flex-direction: column;
            background-color: #EFEFEF;
            border-radius: 5px;
            width: 782px;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            .musica {
                width: 90%;
                justify-content: space-between;
                background-color: #fff;
                padding: 15px 35px 15px 35px;
                display: flex;
                flex-direction: row;
                border-radius: 5px;
                align-items: center;
                margin-bottom: 30px;
                transition: 0.6s;
                align-items: flex-start;

                .icones {
                    transition: opacity 0.6s ease-in-out;
                    opacity: 0;
                    display: flex;
                    gap: 10px;
                    transition: 0.6s;

                    img {
                        height: 30px;
                    }
                }

                .titulo-descricao {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    > p {
                        font-size: 16px;
                    }

                    h1 {
                        font-size: 24px;
                        font-weight: bold;
                    }

                    .descricao-musica {
                        display: flex;
                        flex-direction: row;
                        font-size: 19px;
                        gap: 14px;
                        
                    }
                }

                .outraDivisao {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: 0.6s;

                    // position: relative;
                    // right: 40px;

                    > img {
                        width: 80px;
                        height: 80px;
                        border-radius: 100px;
                        transition: 0.6s;
                    }

                    .album-genero {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin-right: 10px;
                    }

                .alteracao-deletar {
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    img {
                        width: 40px;
                    }
                }
                }

            height: 130px;
            }
            
            .musica:hover {
                height: 200px;
                background-color: #d1f8df;

                .icones {
                    transition: 0.6s;
                    opacity: 1;
                    gap: 10px;
                    margin-top: 55px;

                    .coracao {
                        color: #1ac255;
                    }
                    > img {
                        height: 30px;
                        cursor: pointer;
                    }
                }

                .outraDivisao {
                    transition: 0.6s;
                    align-items: center;

                    img {
                        transition: 0.6s;
                        height: 155px;
                        width: 155px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
